<div id="some">
<h2>It's a some div block and patch of html</h2>
<p>
    blas bla a blu blalala bla blas bla a blu blalala bla blas bla a blu blalala bla blas bla a blu blalala bla blas bla a blu blalala bla  
</p>
</div>